.alerta-fond {
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
  color: #000000;
  cursor: pointer;
  display: inherit;
  height: 100%;
  left: 0;
  overflow: auto;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 4;
}

.alerta-cont {
  background-color: #fefefe;
  border: 1px solid #888;
  border-radius: 20px;
  margin: 10% auto;
  text-align: center;
  user-select: none;
  width: 60%;
}
.alerta-cont> h4{
  color: #160029;
  font-size: 20px;
  margin: 10px 10%;
  padding: 10px 0;
}
.alerta-cont>.Titulo{
  background: rgb(58,116,180);
  background: -webkit-linear-gradient(left, rgba(58,116,180,1) 0%, rgba(93,83,126,1) 18%, rgba(208,36,36,1) 64%, rgba(185,16,16,1) 100%);
  background: -o-linear-gradient(left, rgba(58,116,180,1) 0%, rgba(93,83,126,1) 18%, rgba(208,36,36,1) 64%, rgba(185,16,16,1) 100%);
  background: linear-gradient(to right, rgba(58,116,180,1) 0%, rgba(93,83,126,1) 18%, rgba(208,36,36,1) 64%, rgba(185,16,16,1) 100%);
  border-radius: 20px 20px 0 0;
  color: white;
  margin: 0;
  padding: 15px 0;
  position: relative;
  text-shadow: 4px 4px 8px #000000;
  width: 100%;
}
.alerta-cont>button{
  border-radius: 10px;
  box-shadow: 4px 4px #292929;
  cursor: pointer;
  color: white;
  font-weight: bolder;
  margin: 20px;
  padding: 10px;
  text-align: center;
  text-shadow: 2px 2px 5px #000000;
  transition: box-shadow 0.5s linear;
  width: 80px;
}
.alerta-cont>button:hover{
  box-shadow: 1px 1px #292929;
}
.alerta-cont>button:focus{
  outline: none;
}
