.Grafica{
  border: 2px solid white;
  border-radius: 20px;
  margin: 50px auto;
  padding: 10px;
  width: 60%;
}
.Grafs{
  margin: 0 auto;
  width: 80%;
}
.Grafs > h3 {
  color: #d9d9d9;
  font-size: 30px;
  margin: 30px;
  text-align: center;
}
#Desc_form{
  background-color: #4d4d4d;
  border-radius: 30px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  width: 70%;
}
#Nom_form{
  color: #f0f0f0;
  font-size: 40px;
  padding: 15px 0;
  text-align: center;
}
#Tot_form{
  font-weight: bolder;
}
