@font-face{
    src: url('../../libs/fonts/Roboto_Condensed/RobotoCondensed-Regular.ttf');
    font-family: 'Roboto Condensed', sans-serif;
}
*{
	padding: 0;
	margin: 0;
	border: 0;
  }
body {
	overflow-x: hidden;
	background-color: #2C2A2A;
	font-family: 'Roboto Condensed', sans-serif;
}

header {
	background:#272626;
	cursor: pointer;
	width:100%;
}

header nav {
	background:#272626;
	margin:0px auto;
	max-width:1000px;
	width:100%;
}

.menu_bar {
	display:none;
}

header nav ul {
	list-style:none;
	overflow:hidden;
}

header nav ul li {
	float:right;
}

header nav ul li a {
	color:#fff;
	display:block;
	font-size: 20px;
	padding:25px;
	text-decoration:none;
}

header nav ul li span {
	margin-right:20px;
}

header nav ul li:nth-child(1) :hover{
	background:#e76c46;
}

header nav ul li:nth-child(2) :hover{
	background:#e76c46;
}

header nav ul li:nth-child(3) :hover{
	background:#e76c46;
}

header nav ul li:nth-child(4) :hover{
	background:#e76c46;
}

footer{
	background-color: #373535;
	width: 100%;
}
#miForm input[type=text], #miForm input[type=password], #miForm input[type=email], #formAcceso input[type=text], #formAcceso input[type=password], #formAcceso input[type=email]{
	background-color: transparent;
	border:none;
	border-bottom: 3px solid #fff;
	width:80%;
}
#miForm input[type=text], #miForm input[type=password], #miForm input[type=email], #miForm input[type=date], #formAcceso input[type=text], #formAcceso input[type=password], #formAcceso input[type=email], #formAcceso input[type=date]{
	padding-top:10px;
	color:white;
}
#miForm input[type=submit], #formAcceso input[type=submit], #miForm input[type=date], #formAcceso input[type=date]{
	margin-top:25px;
	color:White;
	background: #e76c46;
	border:none;
}
#miForm input[type=submit]:hover, #formAcceso input[type=submit]:hover, #miForm input[type=date]:hover,#alumno:hover,#profesor:hover,#funcionario:hover{
	background: #c4502d;
}
#miForm input[type=text]::-webkit-input-placeholder, #miForm input[type=password]::-webkit-input-placeholder, #miForm input[type=email]::-webkit-input-placeholder, #miForm input[type=date]::-webkit-input-placeholder, #formAcceso input[type=text]::-webkit-input-placeholder, #formAcceso input[type=password]::-webkit-input-placeholder, #formAcceso input[type=email]::-webkit-input-placeholder, #formAcceso input[type=date]::-webkit-input-placeholder{
	color: rgb(255, 255, 255);
}
#formAcceso{
	padding:40px;
}
#formAcceso input[type=text], #formAcceso input[type=password]{
	margin-top: 20px;
}
input[type=date]{
	appearance: none;
	padding: 8px;
	border:none;
}
input[type=date]::-webkit-datetime-edit-month-field {
	text-transform: uppercase;
}
input[type=date]::-webkit-datetime-edit-day-field {
	text-transform: uppercase;
}
input[type=date]::-webkit-datetime-edit-year-field {
	text-transform: uppercase;
}
input[type=date]::-webkit-calendar-picker-indicator {
	color:white;
}
input[type=submit]{
	text-align: center;
	left:80%;
	height:40px;
	width:90px;
}
input[type=submit]:focus,input[type=date]:focus,input[type=password]:focus,input[type=text]:focus,input[type=email]:focus,input[type=email]:focus,#alumno,#profesor,#funcionario{
	outline: none;
}
.logo{
	float: left;
	height: 50px;
	width: 50px;
}

.search{
	background-color:rgb(32, 32, 32);
	border:none;
	border-bottom:4px solid rgb(248, 248, 248);
	color:white;
	height:20px;
}

.search:hover,.search:focus,.search:active{
	outline:none;
}

.searchButton{
	background-color: #e76c46;
	border:none;
	color:white;
	height:20px;
	outline:none;
	width:20px;
}
input[type=text]::-webkit-input-placeholder{
	color:white;
}
.searchButton:hover,.searchButton:focus,.searchButton:active{
	background-color: #ca5734;
}

.fa-search{
	margin-left: auto;
	margin-right: auto;
}

.grid-item1{
	grid-column: 1/3;
}

.grid-item2{
	grid-column: 3;
}

.center{
	color: white;
	font-size: 20px;
	margin-left:  20px;
	margin-right: 20px;
	text-align: center;
}

.image{
	height: 250px;
	padding: 10px;
	width: 250px;
}


.form{
	margin-left:  auto;
	margin-right: auto;
	text-align: center;
	width: 80%;
}


.all-footer{
	display: flex;
	justify-content: space-between;
	margin: auto;
	max-width:1000px;
	padding: 20px;
	width:100%;
}

.footer{
	color: white;
	padding:20px;
}

.social span{
	color: white;
	text-decoration: none;
	padding:20px;
}
.lineargradientB{
	background: linear-gradient(180deg, #0C0B0B 0%, rgba(56, 55, 55, 0.83) 100%);
}
.white{
	color: rgb(247, 247, 247);
}
.black{
	color: rgb(32, 32, 32);
}
.orange{
	color: #e76c46;
}
.aiudaa{
	display:block;
	width:60%;
	height:1300px;
	background-color: rgb(170, 170, 170);
	margin: auto;
	padding: 50px;
	font-size: 18px;
	text-align: justify;
}
.ayudaTitle{
	top:10%;
	font-size:40px;
	margin-left:auto;
	margin-right:auto;
}
.indexAiuda{
	top:20%;
}
.imgEncPub{
	width:60%;
	float: right;
	padding: 5px;
}
.formin{
	float: right;
	width:30%;
	padding:5px;
}
.perfil{
	float: right;
	width:50%;
	padding:5px;
}
#logo-header {
	float: left;
	padding: 3px 0 0 20px;
	text-decoration: none;
}

#logo-header:hover {
	color: #e76c46;
}

#photo{
	height: 400px;
	left: 0px;
	top: 60px;
	width: 100%;
}

#galreg{
	display: grid;
	grid-gap: 10px;
	grid-template-columns: repeat(3, 1fr);
	background-color:#2C2A2A;
}

#register{
	background: #2C2A2A;
	color: white;
	font-size: 20px;
	height: 600px;
	text-align: center;
	width:100%;
}
#indexFieldset{
	border: 3px solid #e76c46;
	margin: auto;
	width: 70%;
	height: 437.71px;
}
#publicForm{
	width: 90%;
	height:500px;
	margin: auto;
}
#formRegistro:hover{
	color: #e76c46;
	cursor: pointer;
}

#formIngreso:hover{
	color:#e76c46;
	cursor: pointer;
}

#formRegistro,#formIngreso{
	font-weight: bold;
	text-decoration-line: underline;
	letter-spacing: 2px;
	text-transform: capitalize;
}

#cocoHeader{
	font-size: 80px;
	line-height: 100px;
	text-align: center;
	position: relative;
	top:20%;
}
#alumno{
	margin-top:20px;
	color:White;
	background: #e76c46;
	border:none;
	width: 60px;
	height: 20px;
}

#profesor{
	margin-top:25px;
	color:White;
	background: #e76c46;
	border:none;
	width: 60px;
	height: 20px;
}

#funcionario{
	margin-top:25px;
	color:White;
	background: #e76c46;
	border:none;
	width: 75px;
	height: 20px;
}
#cocoAnimation{
	display: flex;
	position: absolute;
	top:-25%;
	width:100%;
	height:300px;
}
#cocoTitle{
	position: relative;
	top:10%;
}
#Cont-Creditos{
	width: 80%;
	margin: 0 auto;
}
li{
	list-style: none;
}
.switch{
    position: relative;
    display:inline-block;
    width: 60px;
    height:34px;
}
.switch input{
    opacity:0;
    width:0;
    height:0;
}
.slider{
    position: absolute;
    cursor: pointer;
    top:0;
    left:0;
    right:0;
    bottom:0;
    background-color: rgb(74, 199, 221);
    background-size: cover;
    transition: 1s;
    border-radius: 36px;
}
.slider:before{
    position: absolute;
    content:"";
    height:26px;
    width:26px;
    left:4px;
    bottom:4px;
    background: #7e0303;;
    background-size: cover;
    transition: 1s;
    border-radius: 50%;
}
.SHC{
    background: #525252;
}
.score,.help,.nav a:link, .nav a:visited{
    color:#FFFFFF;
}

input:checked+.slider{
    background-color: rgb(158, 150, 202) ;
}
input:focus+.slider{
    box-shadow: 0 0 1px rgb(156, 134, 134);
}
input:checked+.slider::before{
    transform: translate(26px);
    transform: translate(26px);
    background-color:#c4502d;
    background-size: cover;
}
@media screen and (max-width:800px ) {

	header nav {
		width:100%;
		height:220px;
		left:-100%;
		margin:0;
		position: absolute;
	}

	header nav ul li {
		border-bottom:1px solid #272626;
		display:block;
		float:none;
	}

	.logo{
		display: none;
	}

	.menu_bar {
		background:#272626;
		display:block;
		height: 35px;
		width:100%;
		z-index:300;
	}

	.menu_bar .bt-menu {
		background:#272626;
		box-sizing:border-box;
		color:#fff;
		display:block;
		font-weight: bold;
		font-size:25px;
		padding:5px;
		text-decoration:none;
		-webkit-box-sizing:border-box;
		-moz-box-sizing:border-box;
		z-index:301;
	}

	.menu_bar span {
		float:right;
		font-size:25px;
	}

	.grid-item1{
		margin: 1px;
		padding: 10px;
	}

	.grid-item2{
		margin: 1px;
		padding: 10px;
		width: 100%;
	}

	.center{
		font-size: 20px;
		margin-left:  20px;
		margin-right: 20px;
	}

	.image{
		height: 250px;
		padding: 10px;
		width: 250px;
	}

	.form{
		margin-left:  auto;
		margin-right: auto;
		text-align: center;
		width: 80%;
	}

	.cocoTitle{
		font-size: 40px;
	}
	.cocoTitle2{
		display: none;
		font-size: 0px;
	}

	#photo{
		display:block;
		height: 400px;
		width:100%;
	}

    #galreg{
		display: flex;
		flex-wrap: wrap-reverse;
		width: 100%;
	}

	#register{
		font-size: 20px;
		height: 600px;
	}
	#cocoAnimation{
		top:50%;
	}
}
