* {
    padding: 0;
    margin: 0;
    border: 0;
  }
  
  body{
    display: flex;
    flex-direction: column;
    width:100%;
    overflow-x: hidden;
  }
  /*Header*/
  
  #logoHeader {
      float: left;
      padding: 3px 0 0 20px;
      text-decoration: none;
  }
  #logoHeader:hover {
      color: #0b76a6;
  }
  .search{
      height:20px;
      border:none;
      border-bottom:4px solid rgb(248, 248, 248);
      background-color:rgb(32, 32, 32);
      color:white;
  }
  .search:hover,.search:focus,.search:active{
      outline:none;
  }
  .searchButton{
      height:20px;
      width:20px;
      border:none;
  }
  .searchButton{
      outline:none;
      background-color: #e9420f;
      color:white;
  }
  .searchButton:hover,.searchButton:focus,.searchButton:active{
    background-color: #d31e1e;
    }
  
  header .logo{
      width: 70px;
      height: 60px;
      float: right;
  }
  
  header {
    background-color: #272626;
    width: 100%;
    position: fixed;
    z-index: 100;
  }
  
  header nav {
    float: right;
  }
  
  header nav ul {
    list-style: none;
    overflow: hidden;
  }
  
  header nav ul li {
    float: left;
    font-family: Arial, sans-serif;
    font-size: 16px;
  }
  
  header nav ul li a {
    display: block;
    padding: 25px;
    color: #ffffff;
    text-decoration: none;
  }
  
  header nav ul li:hover {
    background-color: #243140;
  }