/* NAVBAR */
@font-face{
    src: url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
    font-family: 'Roboto Condensed', sans-serif;
}
.nav nav{
    padding-top:10px;
    height: 60px;
}
.nav nav{
    background: #272626;
}
.nav nav ul{
    position: relative;
    padding-left: 45%;
    padding-top: 1%;
    list-style: none;
    margin: 0 auto;
}
.nav nav ul li{
    display: inline;
    padding-left: 5%;
    font-size: 16px;
}
.nav ul li a {
    text-decoration: none;
    font-weight: 500;
    position: relative;
    padding: 25px;
    color: #ffffff;
    font-size: 20px;
}
body{
    background-color:#393939;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Roboto Condensed', sans-serif;
}
/*PAGINA PRINCIPAL */
.CoyoConsultasTitle{
    width:100%;
    height:291px;
    background: linear-gradient(90deg, #E25050 11.84%, rgba(0, 192, 158, 0.53) 78.99%);
}
.CoyoConsultasTitle span{
    position: relative;
    top:30%;
    left:35%;
    color: #DCDBDB;
    font-size: 80px;
}
#categories ul li{
    display: inline;
    padding-left: 20px;
    color: #CBCBCB;
    font-size: 15px;
}
#categories ul li:hover{
    color:rgba(7, 196, 161, 0.925);
}
#categories{
    padding:5px;
    background: #6F6B6B;
}
.cardFeed{
    margin: 0 auto;
    max-width: 1200px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    padding: 0.5rem;
}
.card{
    border: 0px solid aqua;
    margin: 0.5rem;
    position: relative;
    height: 12rem;
    overflow: hidden;
    border-radius: 0.5rem;
    flex: 1;
    min-width: 290px;
    box-shadow: 0 0 1rem rgba(0, 0, 0, 0.5);
    background-color: sandybrown;
}
.card::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0) linear-gradient(to bottom, rgba(0, 0, 0, 0) 50%, rgba(0, 0, 0, 0.7) 80%);;
    z-index: 0;
}
.link{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;
}

/*Perfil*/
canvas{
    border: 2px solid white;
    border-radius: 20px;
    margin: 50px 0;
    padding: 30px;
  }

  input[type="radio"]:hover{
    cursor: pointer;
  }

  .paleta{
    width: 450px;
    margin: 1%;
  }
  .profileCover{
    min-width: 100%;
    min-height: 300px;
    background: rgb(127,40,47);
    background: linear-gradient(180deg, rgba(127,40,47,1) 0%, rgba(225,79,10,1) 21%, rgba(251,176,40,1) 41%, rgba(255,229,78,1) 62%, rgba(249,255,193,1) 83%);
    position: relative;
  }
  .profileCard{
    position:relative;
    top:180px;
    width: 63.5%;
    min-height:400px;
    background-color: white;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
  }
  .profile{
    width:242px;
    height:242px;
    border-radius: 50%;
    z-index: 5;
    position: relative;
    left:36.6%;
    top:-121px;
    background-color: rgb(0, 133, 133);
    background-size: cover;
  }
  .profileName{
    font-family: 'Roboto Slab', serif;
    position: relative;
    font-size: 30px;
    top:-90px;

  }

  .containProfile{
    position: relative;
    width:100%;
    height: 500px;
    background-color: black;
    justify-content: space-between;
  }

  .profileData{
    position: relative;
    width:63.5%;
    height: 200px;
    background-color: #CECBCB;
    justify-content: space-between;
    margin-left: auto;
    margin-right: auto;
  }

  .profileBirth{
    margin-left: auto;
    margin-right: auto;
    padding-left: 70px;
  }

  .profileMail{
    margin-left: auto;
    margin-right: auto;
  }

  .dropbtn {
    background-color: #e76c46;
    color: white;
    padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;
  }

  .dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown-content {
    display: none;
    position: absolute;
    background-color: #3e3c3c;
    min-width: 225px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content div {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
  }


  .dropdown-content div:hover {
    background-color: #4c4949
  }

  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color:#122334;
  }
  .Grafica{
    left: 10%;
    position:relative;
    width: 80%;
  }

  #stats{
    background-color: #262626;
    color: white;
    display: block;
    min-height:400px;
    position:relative;
    text-align: center;
    width: 100%;
    padding: 50px 0;
  }
  #stats > h1{
    font-size: 40px;
  }

  #editar{
    margin-top:25px;
      color:White;
      background: #e76c46;
      padding: 16px;
    font-size: 16px;
    border: none;
    cursor: pointer;

  }

/*Footer*/
footer{
	background-color: #373535;
	width: 100%;
}
.all-footer{
	display: flex;
	justify-content: space-between;
	margin: auto;
	max-width:1000px;
	padding: 20px;
	width:100%;
}

.footer{
	color: white;
	padding:20px;
}

.social span{
	color: white;
	text-decoration: none;
	padding:20px;
}
/*Colores*/
/*Modo oscuro*/
