h2{
  color: #f0f0f0;
  padding: 15px 0;
  text-align: center;
}
.Pag_preg{
  margin: 0 auto;
  width: 90%;
}
.Opc{
  background-color: #e3e3e3 ;
  border-radius: 30px;
  padding: 30px;
}
.Pag_preg > h1{
  color: white;
  padding: 30px 0;
  text-align: center;
}
#Desc_form{
  background-color: #4d4d4d;
  border-radius: 30px;
  margin: 0 auto;
  padding: 15px;
  text-align: center;
  width: 70%;
}
#Enviar{
  background-color: #bebdbd;
  border-radius: 15px;
  box-shadow: 5px 5px #000000;
  padding: 10px;
  left: 80%;
  position: relative;
  top: 50px;
  transition: all 0.5s linear;
}
#Nom_form{
  color: #f0f0f0;
  font-size: 40px;
  padding: 15px 0;
  text-align: center;
}
#Preguntas > div{
  background-color: #4d4d4d;
  border-radius: 30px;
  display: flex;
  padding: 15px;
  flex-direction: row;
  flex-wrap: wrap;
  font-size: 18px;
  justify-content: space-around;
  margin: 0 auto;
  padding: 30px 0;
  width: 60%;
}
#Preguntas > h3{
  color: #f0f0f0;
  font-size: 25px;
  padding: 30px 0;
  text-align: center;
}
#Enviar:hover{
  background-color: #1b1b1b;
  border: #000000;
  box-shadow: 1px 1px #000000;
  color: white;
  cursor: pointer;
}
