td{
  text-align: center;
  overflow: hidden;
}
th{
  background-color: #3d3d3d;
  color: white;
  text-shadow: 2px 2px 5px #000000;
}
td,th{
  padding: 5px 10px;
}
tr:nth-child(even){
  background-color: #b9b9b9;
}
tr:nth-child(odd){
  background-color: #7d7d7d;
}
table{
  width: 550px;
  margin: 40px auto;
}
.Resultados button{
  border-radius: 10px;
  padding: 5px 10px;
  transition: all 0.3s linear;
  width: 100px;
}
.Resultados button:hover{
  background-color: #3c3c3c;
  border-radius: 5px;
  color: white;
  cursor: pointer;
}
.Resultados{
  width: 80%;
  margin: 50px auto;
  display: flex;
  flex-direction: row;
  flex-wrap:  wrap;
}
#resultTitle{
  color: white;
  text-align: center;
}
