<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
</head>
<body>
  <h1>Inicio de sesión</h1>
  <fieldset>
    <legend>Ingresa los siguientes datos</legend>
    <form action="../dynamics/php/Registro.php" method="post" id="formAcceso">
      <label for="nombre">N. cuenta, RFC o correo: </label>
      <input type="text" name="id" required><br>
      <label for="nombre">Contraseña: </label>
      <input type="password" name="password" required><br>
      <input type="submit" value="Iniciar sesión">
    </form>
  </fieldset>
  <script src="../dynamics/js/Acceso.js"></script>
</body>
</html>