<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <link rel="stylesheet" href="../statics/css/NavInicio.css">
    <link rel="stylesheet" href="../statics/css/index.css">  
</head>
<body>
    <header class="publicNav"> </header>
    <div class="aiudaa">
        <h2 class="ayudaTitle">¿Es tu primera vez en el sitio?</h2>
        <br>
        <p class="indexAiuda">CoyoConsultas es un sitio por y para personas de la comunidad de la Prepa6, está pensado para que tu opinión siempre se escuche. Aunque te recomendamos que te crees una cuenta para poder disfrutar de los beneficios que CoCo te ofrece, también puedes contestar encuestas públicas sin necesidad de registrarte, para ello tienes dos opciones desde la barra de navegación, en la primera podrás ingresar el código de la encuesta directamente a un lado del símbolo de búsqueda, en la segunda podrás acceder a la sección de encuestas donde aparecerá un menú parecido al siguiente:</p>
        <br>
        <img src="../statics/media/img/ayuda_pics/encuestaspub.jpg" alt="" class="imgEncPub">
        <P>Ahí encontrarás encuestas que dependiendo de su color será su categoría, las verdes son de ciencia, las amarillas culturales, las naranjas de deportes y por último las azules de actividades académicas.</P>
        <br>
        <p>Si te interesa alguna en particular, puedes acceder a ella dando clic en contestar, tras esto, entrarás a una página donde tendrás las preguntas con las opciones de respuesta, finalmente podrás enviar tu respuesta. TU RESPUESTA ES ANÓNIMA.</p>
        <br>
        <p>Si deseas visualizar los resultados de alguna encuesta tendrás que ser usuario, para esto puedes crear una cuenta desde la página principal donde verás las opciones de ingresar y registrarte.</p>
        <br>
        <img src="../statics/media/img/ayuda_pics/formin.jpg" alt="" class="formin">
        <p>Debes ingresar qué tipo de usuario eres, recuerda que la pagina solo es para personas pertenecientes a la comunidad del plantel (alumno, profesor, funcionario), ingresar los datos correspondientes y dar clic en "registrarme", esto te redireccionará a la misma página donde tendrás que iniciar sesión con los datos ingresados anteriormente.</p>
        <br>
        <p>Una vez dentro te aparecerá un menú muy parecido al de las encuestas públicas, sin embargo existe la diferencia que enste feed también se incluyen las encuestas que son para la comunidad del plantel exclusivamente.</p>
        <br>
        <p>Al ser usuario tienes la ventaja de poder crear tus propios formularios para conocer la opinión de otras personas respecto a temas de tu interés, tienes que dar clic en Crear Encuesta de la barra de navegación y rellenar lsop campos que se te piden como el nombre de la encuesta y las preguntas que deseas hacer, es importante mencionar que CoCo permite un máximo de cinco preguntas por encuesta y 10 opciones.</p>
        <br>
        <img src="../statics/media/img/ayuda_pics/perfil.jpg" alt="" class="perfil">
        <p>Dentro de la barra de navegación también encontrarás la opción de perfil, aquí como se menciono anteriormente podrás ver tus estadísticas de usuario es decir cuántas encuestas has contestado y cuántas has formulado, además si quieres saber los resultados de alguna de estas encuestas basta con que te desplaces hasta abajo de la ventana de perfil para encontar dos tablas en las cuales con tan sólo un clic los podrás ver.</p>
        <br>
        <p>La ventana de perfil también te permite configurar los datos de tu cuenta, dando clic en el botón de editar podrás ingresar un nuevo correo o en caso de ser necesario un cambio de contraseña, recuerda ingresar una segura y no compartirla con NADIE, además puedes si así lo deseas agregar una foto de perfil.</p>
        <br>
        <p>De dar clic en la opción de paletas, tendrás dos opciones de paletas para el fondo de tu perfil.</p>
        <br>
        <p>IMPORTANTE:Los cambios se aplicarán hasta que vuelvas a ingresar sesión.</p>
    </div>
    <script src="../dynamics/js/NavPublico.js"></script>
</body>
</html>