<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    </head>
    <style>
        svg{
            overflow: hidden;
            height:200px;
        }
    </style>
<body>
    <!-- Este svg se encarga de los gráficos de barras que se ven en las paginas donde hay encuestas -->
    <svg width="1378" height="257" viewBox="0 0 1378 257" fill="none" xmlns="http://www.w3.org/2000/svg">
        <g id="graphBars">
        <rect id="Amarillo1" x="75.9802" width="30.9088" height="216.516" fill="#F1C40F"/>
        <rect id="Azul1" x="124.645" y="24.8568" width="32.224" height="191.659" fill="#2980B9"/>
        <rect id="Rojo1" x="174.625" y="7.84952" width="32.224" height="208.666" fill="#E74C3C"/>
        <rect id="Verde3" x="424.526" y="60.8337" width="32.224" height="155.682" fill="#2ECC71"/>
        <rect id="Verde1" x="15.586" y="115" width="32.224" height="100.291" fill="#2ECC71"/>
        <rect id="Amarillo2" x="274.586" y="75.2245" width="32.224" height="141.291" fill="#F1C40F"/>
        <rect id="Azul2" x="324.566" y="41.2099" width="32.224" height="175.306" fill="#2980B9"/>
        <rect id="Rojo2" x="374.546" y="90.9235" width="32.224" height="125.592" fill="#E74C3C"/>
        <rect id="Verde2" x="224.605" y="115.126" width="32.224" height="101.39" fill="#2ECC71"/>
        <rect id="Amarillo3" x="473" y="91" width="31" height="126" fill="#F1C40F"/>
        </g>
        </svg>
              
</body>
</html>