<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="../libs/jQuery/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../statics/css/CrearForm.css">
    <title></title>
  </head>
  <body>
    <header class="navBar">

    </header>
    <div class="crearFormContainer">
    <h1 id="formTitle">Crear Encuesta</h1>
    <h2 class="formOption">Configuraciones:</h2>
      <div id="Form_config">
      </div>
      <h2 class="formOption"> Titulo: <input type="text" name="Titulo" id="tituloForm" placeholder="Nombre de su encuesta"></h2>
      <h4>Descripción: </h4>
      <textarea name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
        <div class="field">
          <select name="rango" id="rango">
          </select>
        </div>
        <div class="field">
          <select name="categoria" id="categoria">
          </select>
        </div>
      <button type="button" name="button" id="Anadir_preg">Añadir pregunta</button>
      <button type="button" name="button" id="Eliminar_preg">Eliminar ultima pregunta</button>
      <div id="preguntas"></div>
      <script src="../dynamics/js/Crear_formulario.js" charset="utf-8"></script>
      </div>
      <footer class="footerInicio"></footer>
      <script src="../dynamics/js/NavInicio.js"></script>
  </body>
</html>
