<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title></title>
  </head>
  <body>
    <header class="navBar">
      
    </header>
    <h2>Configuraciones</h2>
    <form action="" method="post" id="crearForm">
      <div id="Form_config">
      </div>
      <h1> Titulo: <input type="text" name="Titulo" id="tituloForm" placeholder="Nombre de su encuesta"></h1>
      <h4>Descripción: </h4>
      <textarea name="descripcion" id="descripcion" cols="30" rows="10"></textarea>
        <div class="field">
          <label for="rango">Rango:</label></br>
          <select name="rango" id="rango">
          </select>
        </div>
        <div class="field">
          <label for="categoria">Categoría:</label></br>
          <select name="categoria" id="categoria">
          </select>
        </div>
      <button type="button" name="button" id="Anadir_preg">Añadir pregunta</button>
      <button type="button" name="button" id="Eliminar_preg">Eliminar ultima pregunta</button>
    </form>
    
    <script src="../dynamics/js/NavInicio.js"></script>
    <script src="../dynamics/js/Crear_formulario.js" charset="utf-8"></script>
  </body>
</html>
