<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../statics/css/NavInicio.css">
    <link rel="stylesheet" href="../statics/css/Inicio.css">
    <link rel="stylesheet" href="../statics/css/index.css">
    <title>CoCo</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">
</head>
<body>
    <header class="publicNav">

    </header>
    <h1>Creditos</h1>
    <section id="Cont-Creditos">
      <div class="row row-cols-1 row-cols-md-3">
        <div class="col mb-4">
          <div class="card h-100">
            <img src="../statics/media/img/Creditos/Abraham.jpeg" class="card-img-top" height="300" alt="Abraham">
            <div class="card-body">
              <h5 class="card-title">Abraham Emilio López Contreras</h5>
              <p class="card-text">Encargado de Seguridad y asistente en backend.</p>
              <span class="badge badge-dark">Seguridad</span>
              <span class="badge badge-info">PHP</span>
              <span class="badge badge-success">SQL</span>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="../statics/media/img/Creditos/Carlos.jpeg" class="card-img-top" height="300" alt="Carlos">
            <div class="card-body">
              <h5 class="card-title">Carlos Iván Villafranca Hernández</h5>
              <p class="card-text">Desarrollador backend</p>
              <span class="badge badge-warning">JS</span>
              <span class="badge badge-info">PHP</span>
              <span class="badge badge-success">SQL</span>
              <span class="badge badge-primary">CSS</span>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="../statics/media/img/Creditos/Lenin.jpeg" class="card-img-top" height="300" alt="Lenin">
            <div class="card-body">
              <h5 class="card-title">Lenin Pavón Alvarez</h5>
              <p class="card-text">Desarrollador backend</p>
              <span class="badge badge-warning">JS</span>
              <span class="badge badge-info">PHP</span>
              <span class="badge badge-success">SQL</span>
            </div>
          </div>
        </div>
        <div class="col mb-4">
          <div class="card h-100">
            <img src="../statics/media/img/Creditos/Mariana.jpeg" class="card-img-top" height="300" alt="Melo">
            <div class="card-body">
              <h5 class="card-title">Mariana Melo Téllez</h5>
              <p class="card-text">Desarrolladora frontend, líder del departamento de animación y asistente en backend</p>
              <span class="badge badge-warning">JS</span>
              <span class="badge badge-primary">CSS</span>
              <span class="badge badge-danger">Animation</span>
            </div>
          </div>
        </div>
          <div class="col mb-4">
            <div class="card h-100">
              <img src="../statics/media/img/Creditos/Tamara.jpeg" class="card-img-top" height="300" alt="Tamara">
              <div class="card-body">
                <h5 class="card-title">Tamara Isabel Arenas Vázquez </h5>
                <p class="card-text">	Desarrolladora frontend y asistente en backend</p>
                <span class="badge badge-primary">CSS</span>
                <span class="badge badge-info">PHP</span>
              </div>
          </div>
        </div>
      </div>

  <h2 class="d-flex justify-content-center">Agradecimientos:</h2>
  <br>
  <div class="container">
  <div class="row">
  <div class="col-12 col-sm-4">
  <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../statics/media/img/mentores/Agradecimiento.png" class="d-block w-100" alt="..."  height="350">
      </div>
      <div class="carousel-item">
        <img src="../statics/media/img/mentores/Juan.png" class="d-block w-100" alt="..."  height="350">
      </div>
      <div class="carousel-item">
        <img src="../statics/media/img/mentores/Chong.png" class="d-block w-100" alt="..."  height="350">
      </div>
      <div class="carousel-item">
        <img src="../statics/media/img/mentores/Diego.png" class="d-block w-100" alt="..."  height="350">
      </div>
      <div class="carousel-item">
        <img src="../statics/media/img/mentores/Manuel.png" class="d-block w-100" alt="..."  height="350">
      </div>
      <div class="carousel-item">
        <img src="../statics/media/img/mentores/Emiliano.png" class="d-block w-100" alt="..."  height="350">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Anterior</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Siguiente</span>
    </a>
  </div>
  </div>
  </div>
  </div>
    </section>

      <script src="../dynamics/js/NavPublico.js"></script>
      <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
</body>
</html>
