<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <link rel="stylesheet" href="../statics/css/NavInicio.css">
  <link rel="stylesheet" href="../statics/css/Inicio.css">
  <link rel="stylesheet" href="../statics/css/index.css">
  <title>Document</title>
</head>
<body>
    <header class="publicNav">
        
    </header>
  <div class="CoyoConsultasTitle">
    <span>CoyoConsultas</span>
    <div id="barsAnimation">     
    </div>
    <div id="barsAnimation2">     
    </div>
  </div>
  <div id="categories">       
    <ul>
      <li id="todo">Todo</li>
      <li id="ciencia">Ciencia</li>
      <li id="cultura">Cultura</li>
      <li id="deportes">Deportes</li>
      <li id="actividades">Actividades</li>
    </ul>    
  </div>
    <div id="cardFeed">
      
    </div>
    <script src="../dynamics/js/NavPublico.js"></script>
    <script src="../dynamics/js/EncuestasPublico.js"></script>
</body>
</html>