<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../statics/css/NavInicio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
</head>
<body>   
        <div class="all-footer">
            <div class="footer">
                ©2020  Todos los derechos reservados.
            </div>
            <div class="social">
                <a href="#" id="facebook"><span class="fab fa-facebook-f"></span>
                <a href="#" id="twitter"><span class="fab fa-twitter"></span></a>
                <a href="#" id="insta"><span class="fab fa-instagram"></span></a>
                <a href="#"><span class="fas fa-envelope"></span></a>
            </div>
        </div>
    <script src="../dynamics/js/NavInicio.js"></script>
</body>
</html>

