<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/Css/NavInicio.css">
    <title>Document</title>
</head>
<body>
    <div class="CoyoConsultasTitle">
        <span>CoyoConsultas</span>
    </div>
    <div id="categories">
        <ul>
            <li>Deportes</li>
            <li>Entretenimiento</li>
            <li>Política</li>
            <li>Cultura</li>
        </ul>
    </div>
    <div class="flexPolls">
        <div class="card">
            Aquí va un layout de cards
        </div>
    </div>
</body>
</html>