<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/Css/NavInicio.css">
    <title>Document</title>
</head>
<body>
    <div class="CoyoConsultasTitle">
        <span>CoyoConsultas</span>
    </div>
    <div id="categories">
        <ul>
            <li id="deportes">Deportes</li>
            <li id="entretenimiento">Entretenimiento</li>
            <li id="politica">Política</li>
            <li id="cultura">Cultura</li>
        </ul>
    </div>
    <div class="flexPolls">
        <div id="cardFeed">
            
        </div>
    </div>
</body>
</html>