<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../Statics/Css/NavInicio.css">
  <link rel="stylesheet" href="../Statics/Css/Inicio.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <title>Document</title>
</head>
<body>
  <header class="navBar">
      
  </header>
  <div class="CoyoConsultasTitle">
    <span>CoyoConsultas:</span>
    <div id="barsAnimation">
      
    </div>
  </div>
  <div id="categories">       
    <ul>
      <li id="todo" class="todoC">Todo</li>
      <li id="ciencia" class="cienciaC">Ciencia</li>
      <li id="cultura" class="culturaC">Cultura</li>
      <li id="deportes" class="deportesC">Deportes</li>
      <li id="actividades" class="actividadesC">Actividades</li>
    </ul>    
  </div>
    <div id="cardFeed">
      
    </div>
    <footer class="footerInicio">
    </footer>
  <script src="../dynamics/js/NavInicio.js"></script>
  <script src="../dynamics/js/Inicio.js"></script>
</body>
</html>
