<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../statics/css/Alerta_modal.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.0-2/css/all.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title></title>
  </head>
  <body>
    <header class="navBar">
    </header>
    <h1>Lista de usuarios</h1>
    <table id="List_usu">
      <tr>
        <th>id_usuario</th>
        <th>Nombre</th>
        <th>Tipo de Usuario</th>
        <th>Bloquear</th>
        <th>Eliminar</th>
      </tr>
    </table>
    <script src="../dynamics/js/NavInicio.js"></script>
    <script src="../dynamics/js/List_usarios.js" charset="utf-8"></script>
  </body>
</html>
