<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src="../libs/jQuery/jquery-3.5.1.min.js"></script>
    <link rel="stylesheet" href="../Statics/Css/NavInicio.css">
</head>
<body>
    <div class="nav" id="nav">
        <nav>
          <ul>
            <li><a href="#" id="crear">Crear Encuesta</a></li>
            <li><a href="#" id="inicio">Inicio</a></li>
            <li><a href="#" id="perfil">Perfil</a></li>
            <li><a href="#" id="cerrar">Cerrar Sesión</a></li>
          </ul>
        </nav>
    </div>
    <div id="content">

    </div>
    <script src="../dynamics/js/NavInicio.js"></script>
</body>
</html>
