<!DOCTYPE html>
<html lang="en">
<head>
</head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <title>CoyoConsultas</title>
    <script src="http://code.jquery.com/jquery-latest.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../libs/fontawesome_free-5-13-0/css/all.css">
    <link rel="stylesheet" href="statics/css/index.css">
<body>
    <div class="menu_bar">
        <a href="#" class="bt-menu"><span class="fas fa-bars"></span></a>
      </div>
      <a id="logoHeader" href="index.html"><img src="#" class="logo"></a>
      <nav>
        <ul>
          <li><a id="creditosP"><span class="fas fa-users"></span> Créditos</a></li>
          <li><a href="#" id="ayudaP"><span class="fas fa-question"></span> Ayuda</a></li>
          <li><a href="#" id="resultadosP"><span class="fas fa-chart-bar"></span> Inicio</a></li>
          <li><a href="#" id="encuestasP"><span class="fas fa-file-signature"></span> Encuestas</a></li>
          <li><a href="#"><form>
            <input class="search" type="text" placeholder="Ingresar código">
            <button class="searchButton"><span class="fas fa-search"></span></button>
          </form></a></li>
        </ul>
      </nav>
</body>
</html>
