<!DOCTYPE html>
<html lang="en">
<head>
</head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <script src="/libs/jQuery/jquery-3.5.1.min.js"></script>
    <link href="https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="libs/fontawesome_free-5-13-0/css/all.min.css" id="fontAwesome">
    <link rel="stylesheet" href="statics/css/index.css" id="indexCss">
<body>
    <div class="menu_bar">
        <a href="#" class="bt-menu"><span class="fas fa-bars"></span></a>
      </div>
      <img src="/CoyoConsultas/statics/media/favi/faviconlogo.png" class="logo">
      <nav>
        <ul>
          <li><a id="creditosP"><span class="fas fa-users"></span> Créditos</a></li>
          <li><a href="#" id="ayudaP"><span class="fas fa-question"></span> Ayuda</a></li>
          <li><a href="#" id="resultadosP"><span class="fas fa-chart-bar"></span> Inicio</a></li>
          <li><a href="#" id="encuestasP"><span class="fas fa-file-signature"></span> Encuestas</a></li>
          <li><a href="#"><form>
            <input class="search" type="text" placeholder="Ingresar código">
            <button class="searchButton" id="searchButton"><span class="fas fa-search"></span></button>
          </form></a></li>
        </ul>
      </nav>
</body>
</html>
