<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../Statics/Css/NavInicio.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title>Registro</title>
</head>
<body>
    <header class="navBar">
    </header>
    <div class="profileCover" alt>
        <form class="profileCard" id="formy" alt>
            <div class="profile" alt></div>
            <span class="profileName"></span>
            <div class="profileData">
              <span id="profileBirth"></span>
              <span id="profileMail"></span><br>
              <div class="bearbeiten">
                <button type="button" id="editar" name="Editar">Editar</button>
                <div class="dropdown">
                <div class="dropbtn">Paletas</div>
                <div class="dropdown-content">
                  <div class="tipo">
                    <img class="paleta" src="../statics/media/img/paletaA.jpg">
                    <input type="radio" name="tipo" value="1">Paleta A
                  </div>
                  <div class="tipo">
                    <img class="paleta" src="../statics/media/img/paletaB.jpg">
                    <input type="radio" name="tipo" value="2">Paleta B
                  </div>

                </div>
              </div>
            </div>
        </form>
    </div>
    <script src="../dynamics/js/NavInicio.js"></script>
    <script src="../dynamics/js/Perfil_datos.js" charset="utf-8"></script>
</body>
</html>
