<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Registro</title>
</head>
<body>
  <h1>Registro de usuarios</h1>
  <h3>Soy</h3>
  <div id="botones">
    <button onclick="alumno()">Alumno</button>
    <button onclick="profesor()">Profesor</button>
    <button onclick="funcionario()">Funcionario</button>
  </div>
  <fieldset>
    <legend>Datos</legend>
    <form action="../dynamics/php/Registro.php" method="post">
      <label for="nombre">Nombre:</label>
      <input type="text" name="nombre" pattern="^[A-ZÁÉÍÓÚÜÑ][a-záéíóúüñ]*$" required><br>
      <label for="paterno">Apellido paterno:</label>
      <input type="text" name="paterno" pattern="^[A-ZÁÉÍÓÚÜÑ][a-záéíóúüñ]*$" required><br>
      <label for="materno">Apellido materno:</label>
      <input type="text" name="materno" pattern="^[A-ZÁÉÍÓÚÜÑ][a-záéíóúüñ]*$" required><br>
      <label for="fecha">Fecha de nacimiento:</label>
      <input type="date" name="fecha" required><br>
      <label for="correo">Correo electrónico:</label>
      <input type="email" name="correo" required><br>
      <label for="id1">Identificador primario:</label>
      <input type="text" name="id1" placeholder="Núm. de cuenta" pattern="^\d{9}$" required><br>
      <label for="id2">Identificador secundario:</label>
      <input type="text" name="id2" placeholder="CURP" required><br>
      <label for="password">Contraseña:</label>
      <input type="password" name="password" required><br>
      <input type="hidden" name="tipo" value="alumno">
      <input type="submit" value="Registrarme">
    </form>
  </fieldset>
  <script src="../dynamics/js/Registro.js"></script>
</body>
</html>