<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title></title>
  </head>
  <body>
    <header class="navBar">
    </header>
    <h1 id="Nom_form"></h1>
    <h3 id=Desc_form></h3>
    <form id="Formu">
      <div id="Preguntas">

      </div>
    </form>
    <button type="button" id="Enviar">Enviar información</button>
    <script src="../dynamics/js/NavInicio.js"></script>
    <script src="../dynamics/js/Responder_formulario.js" charset="utf-8"></script>
  </body>
</html>
