<!DOCTYPE html>
<html lang="es" dir="ltr">
  <head>
    <meta charset="utf-8">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.9.3/Chart.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <title></title>
  </head>
  <body>
    <header class="navBar">
    </header>
    <h1 id="Nom_form"></h1>
    <h3 id=Desc_form></h3>
    <h3> Total de respuestas: <span id=Tot_form></span></h3>
      <div id="Graficas">
      </div>
    <script src="../dynamics/js/NavInicio.js"></script>
    <script src="../dynamics/js/Resultados_finales_form.js" charset="utf-8"></script>
  </body>
</html>
